@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin custom-text($color, $size) {
  font-size: $size;
  color: $color;
}